{%- if settings.use_quickview -%}<a class="pr nt_add_qv js_add_qv cd br__40 pl__25 pr__25 bgw tc dib {{tooltip}}" href="{{url_last}}" data-id="{{pr_id}}" rel="nofollow" class="{{tooltip}}"><span class="tt_txt">{{ 'products.grid_items.quick_view' | t }}</span><i class="iccl iccl-eye"></i><span>{{ 'products.grid_items.quick_view' | t }}</span></a>{%-endif-%}
